/* Login.css */

/* Login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Signup container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login form styling */
.login-form {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
}

/* Button styling */
.login-btn, .signup-btn {
    width: 100px;
}

.login-btn {
    background-color: yellow;
    border-color: yellow;
    color: black;
}

.signup-btn {
    background-color: black;
    border-color: black;
    color: yellow;
}
